* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body {
    overflow: hidden;
}

html {
    font-size: 62.5%;

}

body {
    background: radial-gradient(#f6eadb, #c7c7c7);
}

canvas {
    height: 100vh;
    max-width: 80%;
    background: radial-gradient(darkcyan, #6b6a6a);

}

.info {
    position: absolute;
    top:1rem;
    left:1rem;
    text-align: center;
    background: #181c20;
    color: #8c92a4;
    padding: 7px 1rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    pointer-events: none;

}
